* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-header {
    background-image: url(../public/image.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.underline2 {
    background: black;
    width: 86.01px;
    height: 3px;
    border-radius: 5px;
}

.contact-body-left h1 {
    width: 80%;

}